{:paths
 ["src" "resources"]
 
 :deps
 {org.clojure/clojurescript {:mvn/version "1.11.60"}
  org.clojure/core.async {:mvn/version "1.6.681"}
  cljs-http/cljs-http {:mvn/version "0.1.48"}
  reagent/reagent {:mvn/version "1.2.0"
                   :exclusion [cljsjs/react cljsjs/react-dom]}}

 :aliases
 {:fig {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.17"}
                     com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                     binaryage/devtools {:mvn/version "1.0.7"}
                     org.clojure/data.json {:mvn/version "2.5.0"}}
        :extra-paths ["target"]}
  :build-dev {:main-opts ["-m" "figwheel.main" "--build" "dev" "-r"]}
  :build-prod {:main-opts ["-m" "figwheel.main" "--build-once" "prod"]}}}
